<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/base.css">
</head>

<body>
    <div class="main">
        <div class="header-container">
            <div class="header-titles">
                <h1 class="site-header alt-font">{put siteTitle}</h1>
                {if siteSubtitle}<p class="site-subheader alt-font">{put siteSubtitle}</p>{end}
            </div>
        </div>
        <div class="content">
            {if @ancestry}{render Breadcrumbs}{end}
            <div class="content-body">{slot}</div>
        </div>
        <footer class="site-footer alt-font">
            <p>Powered by <a href="https://github.com/axiand/verbiage">Verbiage</a></p>
        </footer>
    </div>
</body>
