<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/base.css">
</head>

<body>
    <div class="main">
        <h1 class="site-header alt-font">Verbiage</h1>
        <p class="site-subheader alt-font">{put @greeting!}</p>
        <div class="content">
            <div class="breadcrumbs-holder alt-font">
                <a href="/" class="breadcrumb">📁 home</a>
                <p class="breadcrumbs-arrow">»</p>
                <a href="/" class="breadcrumb">📁 blog</a>
                <p class="breadcrumbs-arrow">»</p>
                <a href="/" class="breadcrumb breadcrumb-current">📝 thing.md</a>
            </div>
            <div class="content-body">{slot}</div>
        </div>
    </div>
</body>