<div class="page">
    {if self.editMode}
    <h2 class="alt-font">Edit File</h2>
    {end}
    {if self.deleteMode}
    <h2 class="alt-font">Confirm Deletion</h2>
    {end}
    <hr>
    {if self.hasPermission}
    {if self.upsertMode}
    <form class="simple-form" method="post" enctype="multipart/form-data">
        {if self.editable}
        {if self.content}
        <div class="notice">You are editing an existing file. Changes will overwrite this file if submitted. If you
            change the file name field, a new file will be created.</div>
        {end}
        <b>{put @currentDir.pathNormalized}</b>
        <input name="filename" type="text" placeholder="File name" value="{put @fileName}" required>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="textarea-prose" name="content" placeholder="File content">{put self.content}</textarea>
        </div>
        <div class="form-buttons">
            <button class="button-primary">Submit</button>
        </div>
        {else}
        <p>Cannot edit a binary file in the text editor.</p>
        <div class="form-buttons">
            <a href="/{put @currentWiki}/w/{put @currentDir.pathNormalized}">Go back</a>
        </div>
        {end}
    </form>
    {end}
    {if self.deleteMode}
    <form class="simple-form" method="post">
        <p>Are you sure you want to delete <b>{put @currentDir.pathNormalized}{put @fileName}</b>? This is irreversible.
        </p>
        <div class="form-buttons">
            <a href="/{put @currentWiki}/w/{put @currentDir.pathNormalized}">Go back</a>
            <button class="button-danger">Delete</button>
        </div>
    </form>
    {end}
    {else}
    <div class="simple-form">
        <p>You don't have permission to perform this action on this item.</p>
        <div class="form-buttons">
            <a href="/{put @currentWiki}/w/{put @currentDir.pathNormalized}">Go back</a>
        </div>
    </div>
    {end}
</div>