<div class="page">
    {if fileType.document}
    <div class="document-header">
        <h2 class="alt-font">{put docTitle}</h2>
        <p class="file-info">created whenever ago :: modified whenever ago :: {put @currentFile.sizeExtensionString}</p>
        <p>{put docDescription}</p>
        <div class="inline-toolbox">
            <h4 class="alt-font">Tools</h4>
            {if fileType.printable}
            <a href="/{put @currentWiki}/edit/{echo @currentDir.pathStripped}?name={echo @currentFile.name}"
                class="button-primary button-compact linkbutton">edit</a>
            {end}
            <a href="/{put @currentWiki}/raw/{echo @currentFile.pathStripped}?dl=1"
                class="button-primary button-compact linkbutton">download</a>
            <a href="/{put @currentWiki}/raw/{echo @currentFile.pathStripped}"
                class="button-primary button-compact linkbutton">raw</a>
            <a href="/{put @currentWiki}/edit/{echo @currentDir.pathStripped}?name={echo @currentFile.name}&action=delete"
                class="button-danger button-compact linkbutton">delete</a>
        </div>
        <hr>
    </div>
    {if fileType.printable}
    <article class="markdown">{echo markdown.content}</article>
    {end}
    {if fileType.image}
    <div class="preview-box">
        <a class="preview-item" href="/{put @currentWiki}/raw/{echo @currentFile.pathNormalized}">
            <img src="/{put @currentWiki}/raw/{echo @currentFile.pathNormalized}">
        </a>
    </div>
    {end}
    {if fileType.video}
    <div class="preview-box">
        <video class="preview-item" src="/{put @currentWiki}/raw/{echo @currentFile.pathNormalized}" controls></video>
        <a class="preview-item" href="/{put @currentWiki}/raw/{echo @currentFile.pathNormalized}">View raw file</a>
    </div>
    {end}
    {if fileType.audio}
    <div class="preview-box">
        <audio class="preview-item" src="/{put @currentWiki}/raw/{echo @currentFile.pathNormalized}" controls></audio>
        <a class="preview-item" href="/{put @currentWiki}/raw/{echo @currentFile.pathNormalized}">View raw file</a>
    </div>
    {end}
    {if generic}
    <div class="preview-box">
        <p>
            This file type cannot be previewed.
            <a class="preview-item" href="/{put @currentWiki}/raw/{echo @currentFile.pathNormalized}">Click here</a>
            to view the raw file.
        </p>
    </div>
    {end}
    <hr>
    {end}
    {if fileType.directory}
    <div class="document-header">
        <h2 class="alt-font">{put docTitle}</h2>
        <p class="file-info">{put @currentFile.pathNormalized}</p>
        <p>{put docDescription}</p>
        <div class="inline-toolbox">
            <h4 class="alt-font">Tools</h4>
            {if readmeFile}
            <a href="/{put @currentWiki}/edit/{echo @currentDir.pathStripped}?name={echo readmeFile.name}"
                class="button-primary button-compact linkbutton">edit readme</a>
            {end}
            <a href="/{put @currentWiki}/edit/{echo @currentDir.pathAncestor}?name={echo @currentFile.name}&action=delete"
                class="button-danger button-compact linkbutton">delete</a>
        </div>
        <hr>
    </div>
    <article class="markdown">{echo markdown.content}</article>
    <hr>
    <h2>Files</h2>
    <ul>
        {for fileList item}
        <li>
            <a href="/{put @currentWiki}/w/{echo item.file.pathStripped}">
                {echo item.icon} {put item.file.name}
            </a>
        </li>
        {end}
    </ul>
    {end}
</div>
<div class="side-panel">
    <div class="side-panel-inner">
        <div class="sidebar-toolbox">
            <div class="toolbox-header">
                <h4 class="alt-font">Files</h4>
                <a href="/{put @currentWiki}/edit/{echo @currentDir.pathStripped}"
                    class="button-primary button-compact linkbutton">new</a>
            </div>
            <ul class="sidebar-file-list">
                {for fileList item}
                <li class="sidebar-file">
                    <a href="/{put @currentWiki}/w/{echo item.file.pathStripped}">
                        {echo item.icon} {put item.file.name}
                    </a>
                </li>
                {end}
            </ul>
        </div>
    </div>
</div>