<ul class="document-list">
    {for self.list doc}
    <li class="document-list-item">
        <div>
            <a href="/{echo self.wiki}/w/{echo doc.file.pathStripped}" class="document-list-item-title">
                {put doc.features.title}
            </a>
            <a href="/{echo self.wiki}/w/{echo doc.file.pathStripped}" class="document-list-item-filename">
                /{put doc.file.name}
            </a>
        </div>
        <p class="document-list-item-description">{put doc.features.description}</p>
        <p class="document-list-item-excerpt">{put doc.features.excerpt}</p>
    </li>
    {end}
</ul>